.timeline-content {
    animation: appear2 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.timeline-items {
    animation: scrolling 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.praygatha {

    background-position: center;
    background-repeat: no-repeat;
    /* Changed from none to no-repeat */
    background-size: cover;
    /* filter: blur(10px); */
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent), url(../../assets/Images/3d-fantasy-scene.jpg);

}

.whats {
    background-position: center;
    background-repeat: no-repeat;
    /* Changed from none to no-repeat */
    background-size: cover;
    /* filter: blur(10px); */
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent), url(../../assets/Images/3d-fantasy-scene.jpg);

}
.know{
    transition: all ease-in .2s;
}

.know:hover {

    background-color: rgb(228, 49, 139);
    color: white;

}

/* .newEvents{
    animation: appear3 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.newEvents2{
    animation: appear4 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
} */
/* 
@keyframes scrolling {
   from {
       opacity: 0;
   }

   to {
       opacity: 1;
   }
} */


@keyframes move1 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}


@keyframes move2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes appear2 {
    from {
        opacity: 0;

        transform: translateX(-100px);
    }

    to {
        opacity: 1;

        transform: translateX(0px);
    }
}


@keyframes appear3 {
    from {
        opacity: 0;
        transform: translateX(-100px);


    }

    to {
        opacity: 1;
        transform: translateX(0px);


    }
}


@keyframes appear4 {
    from {
        opacity: 0;
        transform: translateX(100px);


    }

    to {
        opacity: 1;
        transform: translateX(0px);


    }
}





.education {
    padding: 100px 15px;
    background-position: center;
    background-repeat: no-repeat;
    /* Changed from none to no-repeat */
    background-size: cover;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent), url(Images/3d-fantasy-scene.jpg);
    /* background-color: rgb(0, 0, 0); */
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    /* background-color: magenta; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 100%;
    background-color: rgb(255, 0, 157);

    animation: timeline 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;

    left: calc((50% - 1px))
}

@keyframes timeline {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 50px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 50px);

}

.timeline-dot {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 120px;
    font-weight: 600;
    margin: 6px 0 15px;
    color: white;
}

.timeline-content {
    border: 10px solid rgb(255, 0, 179);
    padding: 20px 50px;
    border-radius: 40px;
    cursor: pointer;
    transition: .3s ease-in-out;
}



.timeline-content h3 {
    font-size: 50px;
    color: white;
    margin: 0 0 10px;
}

.timeline-content p {
    font-weight: 300;
    text-align: justify;
    /* justify-content: center; */
    color: white;
    /* line-height: 22px; */
}



button {
    background-color: white;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0;
    padding: 10px;
    border-radius: 10px;
    transition: all ease-in-out .4s;
}

button:focus {
    background-color: rgb(234, 49, 142);
    /* width: 150px; */
}

@media(max-width:1285px) {
    html {
        font-size: 55%;

    }

}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .timeline-items::before {
        left: 7px;
        width: 8px;
    }
    

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;

    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }

    .timeline-date {
        font-size: 60px;
    }

    .timeline-content h3 {
        font-size: 25px;
        color: white;
        margin: 0 0 10px;
    }
    


}

/*  */